<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.spring.core.spring.student" name="s1">
 	<property name="id" value="1" ></property>
 	<property name="name" value="Dhruvin" ></property>
 	<property name="address" value="Surat" ></property>
 </bean>
 
  <bean class="com.spring.core.spring.student" name="s2">
 	<property name="id" value="2" ></property>
 	<property name="name" value="Ria" ></property>
 	<property name="address" value="Surat" ></property>
 </bean>
 
 </beans>